html, body { margin: 0; padding: 0;
  background-color: #0D807A;
}

a:link {
    text-decoration: none;
    color: #ffffff;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: inherit;

}

a:active {
    text-decoration: none;
}

.header
{
    margin: 5px;
    padding-left: 54px;
    font-size: 45px;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #DADADA;
}

.caption{
    font-size: 20px;
    font-family: "Droid Sans", sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #DADADA;
}

.navbar {
    position: relative;
    width: 90%;
    margin: auto;
    border-right: 0 solid #e7e7e7;
    border-left: 0 solid #e7e7e7;
    border-color: #e7e7e7;
    border-bottom: 0;
    min-height: 60px;
    background: #dfe3e8;
    margin-bottom: 50px;
  }

  .navbar a {
      color: #0083b3 !important;
      font-size: 20px;
      letter-spacing: -0.5px;
      padding-bottom: 24px !important;
      padding-top: 20px !important;
      transition: all 0.3s linear;
  }

  .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
      background: #0081ae;
      color: #fff !important; }

  .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
      color: #fff !important;
      background-color: #0081ae; }

  .container
  {
          padding: 0;
          margin: 0;
          height: 100%;
          background-color: #0D807A;
          width: 100%;
  }

  .content
  {
    background-color: #0D807A;
    font-size: 15px;
    position: relative;
    float: left;
    left: 5%;
    margin-right: 15px;
    padding-right: 20px;
    font-family: "Droid Sans", sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #DADADA;
  }

  .markdown{
    opacity: 0.8;
    position: relative;
    line-height: 200%;
    padding-right: 20px;
    background-color: #F5FAFA;
    color: #0083b3;
  }
